.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.or-modify-amount {
    border-width: 10px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 3px !important;
    min-width: 30px !important;
    width: 50% !important;
}

.or-modify-number {
    border-width: 10px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 3px !important;
    min-width: 30px !important;
    width: 50% !important;
}

.total-line {
    font-size: calc(100% + 2.0vw)
}

.amount-line, .number-line {
    font-size: calc(100% + 1.0vw);
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 2px;
    /*height: 3.0vh;*/
    text-align: center;
}

.or-amount-column {
    padding-left: 0 !important;
    padding-right: 5px !important;
    text-align: right !important;
}

.or-number-colomn {
    padding-left: 5px !important;
    padding-right: 0 !important;
    text-align: right !important;
}

.or-subtotal-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
    width: calc(60px + 1.0vw) !important;
    vertical-align: top;
}

.or-trash-button {
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top !important;
}

.subtotal-box {
    margin-right: 0;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtotal-line {
}

.or-plus-button {
    margin-top: 10px !important;
    margin-bottom: 40px !important;
}