body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.or-modify-amount {
    border-width: 10px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 3px !important;
    min-width: 30px !important;
    width: 50% !important;
}

.or-modify-number {
    border-width: 10px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 3px !important;
    min-width: 30px !important;
    width: 50% !important;
}

.total-line {
    font-size: calc(100% + 2.0vw)
}

.amount-line, .number-line {
    font-size: calc(100% + 1.0vw);
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 2px;
    /*height: 3.0vh;*/
    text-align: center;
}

.or-amount-column {
    padding-left: 0 !important;
    padding-right: 5px !important;
    text-align: right !important;
}

.or-number-colomn {
    padding-left: 5px !important;
    padding-right: 0 !important;
    text-align: right !important;
}

.or-subtotal-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
    width: 60px !important;
}

.subtotal-line {
    margin-right: 0;
}

.or-plus-button {
    margin-top: 10px !important;
    margin-bottom: 40px !important;
}